In [1]:
import pandas as pd
import numpy as np

In [2]:
# 1. Create a DataFrame from a dictionary and a list of lists
data_dict = {
    'ID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35]
}
df1 = pd.DataFrame(data_dict)
print("DataFrame from Dictionary:")
print(df1)

DataFrame from Dictionary:
   ID     Name  Age
0   1    Alice   25
1   2      Bob   30
2   3  Charlie   35

In [3]:
# 2. Load a CSV file into a DataFrame and display the first 5 rows
# df2 = pd.read_csv('file.csv')
# print(df2.head())

In [4]:
# 3. Select specific columns and rows using .loc and .iloc
print("Select specific columns using .loc:")
print(df1.loc[:, ['Name', 'Age']])
print("Select specific rows using .iloc:")
print(df1.iloc[1:3])

Select specific columns using .loc:
      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
Select specific rows using .iloc:
   ID     Name  Age
1   2      Bob   30
2   3  Charlie   35

In [5]:
# 4. Handle missing values by filling and dropping them
df1.loc[3] = [4, None, np.nan]
print("DataFrame with NaN values:")
print(df1)
df1.fillna({'Name': 'Unknown', 'Age': df1['Age'].mean()}, inplace=True)
print("After filling missing values:")
print(df1)

DataFrame with NaN values:
    ID     Name   Age
0  1.0    Alice  25.0
1  2.0      Bob  30.0
2  3.0  Charlie  35.0
3  4.0      NaN   NaN
After filling missing values:
    ID     Name   Age
0  1.0    Alice  25.0
1  2.0      Bob  30.0
2  3.0  Charlie  35.0
3  4.0  Unknown  30.0

In [6]:
# 5. Apply lambda functions on DataFrame columns
df1['Age_plus_5'] = df1['Age'].apply(lambda x: x + 5)
print("Age column after applying lambda function:")
print(df1)

Age column after applying lambda function:
    ID     Name   Age  Age_plus_5
0  1.0    Alice  25.0        30.0
1  2.0      Bob  30.0        35.0
2  3.0  Charlie  35.0        40.0
3  4.0  Unknown  30.0        35.0

In [7]:
# 6. Merge two DataFrames based on a common column
df2 = pd.DataFrame({'ID': [1, 2, 4], 'Department': ['HR', 'IT', 'Finance']})
merged_df = df1.merge(df2, on='ID', how='left')
print("Merged DataFrame:")
print(merged_df)

Merged DataFrame:
    ID     Name   Age  Age_plus_5 Department
0  1.0    Alice  25.0        30.0         HR
1  2.0      Bob  30.0        35.0         IT
2  3.0  Charlie  35.0        40.0        NaN
3  4.0  Unknown  30.0        35.0    Finance

In [8]:
# 7. Group data and apply aggregate functions
print("Grouped by Department:")
print(merged_df.groupby('Department')['Age'].mean())

Grouped by Department:
Department
Finance    30.0
HR         25.0
IT         30.0
Name: Age, dtype: float64

In [9]:
# 8. Pivot tables and reshaping data
pivot_df = merged_df.pivot_table(values='Age', index='Department', aggfunc=np.mean)
print("Pivot Table:")
print(pivot_df)

Pivot Table:
             Age
Department
Finance     30.0
HR          25.0
IT          30.0

C:\Users\LBOLLAM\AppData\Local\Temp\ipykernel_18884\115362832.py:2: FutureWarning: The provided callable <function mean at 0x0000022C2C72B420> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  pivot_df = merged_df.pivot_table(values='Age', index='Department', aggfunc=np.mean)

In [10]:
# 9. Sort values based on multiple columns
sorted_df = df1.sort_values(by=['Age'], ascending=False)
print("Sorted DataFrame:")
print(sorted_df)

Sorted DataFrame:
    ID     Name   Age  Age_plus_5
2  3.0  Charlie  35.0        40.0
1  2.0      Bob  30.0        35.0
3  4.0  Unknown  30.0        35.0
0  1.0    Alice  25.0        30.0

In [11]:
# 10. Filter rows based on conditions
filtered_df = df1[df1['Age'] > 30]
print("Filtered DataFrame (Age > 30):")
print(filtered_df)

Filtered DataFrame (Age > 30):
    ID     Name   Age  Age_plus_5
2  3.0  Charlie  35.0        40.0

In [12]:
# 11. Apply rolling window functions
df1['Rolling_Avg'] = df1['Age'].rolling(window=2).mean()
print("DataFrame with Rolling Average:")
print(df1)

DataFrame with Rolling Average:
    ID     Name   Age  Age_plus_5  Rolling_Avg
0  1.0    Alice  25.0        30.0          NaN
1  2.0      Bob  30.0        35.0         27.5
2  3.0  Charlie  35.0        40.0         32.5
3  4.0  Unknown  30.0        35.0         32.5

In [13]:
# 12. Convert a columnâ€™s data type
df1['ID'] = df1['ID'].astype(str)
print("ID column after type conversion:")
print(df1.dtypes)

ID column after type conversion:
ID              object
Name            object
Age            float64
Age_plus_5     float64
Rolling_Avg    float64
dtype: object

In [14]:
# 13. Work with time-series data
dates = pd.date_range(start='2023-01-01', periods=len(df1), freq='D')
df1['Date'] = dates
print("DataFrame with Date column:")
print(df1)

DataFrame with Date column:
    ID     Name   Age  Age_plus_5  Rolling_Avg       Date
0  1.0    Alice  25.0        30.0          NaN 2023-01-01
1  2.0      Bob  30.0        35.0         27.5 2023-01-02
2  3.0  Charlie  35.0        40.0         32.5 2023-01-03
3  4.0  Unknown  30.0        35.0         32.5 2023-01-04

In [15]:
# 14. Optimize performance with categorical data
df1['Name'] = df1['Name'].astype('category')
print("Optimized DataFrame:")
print(df1.dtypes)

Optimized DataFrame:
ID                     object
Name                 category
Age                   float64
Age_plus_5            float64
Rolling_Avg           float64
Date           datetime64[ns]
dtype: object

In [16]:
# 15. Export DataFrame to CSV and Excel
# df1.to_csv('output.csv', index=False)
# df1.to_excel('output.xlsx', index=False)